@font-face {
    font-family: 'Nomerok';
    src: url('../../../assets/fonts/sk-nomerok.ttf') format('truetype');
    /* Ajusta la ruta y el formato según tus archivos de fuentes */
  }
  
  .body {
    margin: 0;
    padding: 70px;
    height: 100vh; /* Ajusta la altura según sea necesario */
    background: linear-gradient(to bottom,#111111, #664488 );
    color: white; /* Color del texto para asegurar la legibilidad en el degradado */
  }