@font-face {
  font-family: 'Nomerok';
  src: url('../../../assets/fonts/sk-nomerok.ttf') format('truetype');
  /* Ajusta la ruta y el formato según tus archivos de fuentes */
}


.body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Ajusta la altura según sea necesario */
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom,#111111, #664488 ); 
 /* background: linear-gradient(to bottom,#f8b195, #f67280, #c06c84, #6c5b7b, #355c7d );  Cambia los colores según tus preferencias */
  color: white; /* Color del texto para asegurar la legibilidad en el degradado */
}

.login{
  margin: 180px;
  height: 380px;
  width: 800px; /* Tamaño deseado del contenedor principal */
  display: flex;
  border: 0px solid #ccc; /* Solo para visualizar el contenedor principal */
  box-shadow: 0px 0px 53px rgba(0, 0, 0, 0.644);
  align-items: flex-start; /* Alinea los elementos en la parte superior */
}
.banner {
  flex: 1; /* Ambos divs toman una fracción igual del espacio disponible */
  width: 30px;
  margin: auto;
  
}

.banner img{
  width: 100%;
  /*  clip-path: inset(0px 0px 77px); */
}


.principal {
  flex: 1; /* Ambos divs toman una fracción igual del espacio disponible */
    width: 300px;
    height: 340px;
    margin: auto;
  
    padding: 20px;
    border: 0px solid #ccc;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom,#92D1C3, #664488 );
    font-family: 'Nomerok', sans-serif;
    color: #ffffff;
  }

  h1{
    margin: auto;
  font-size: 40px;
   color: #FFD5FF;
   letter-spacing: 2px;
  }
  
  /* Estilo para cada etiqueta y campo de entrada */
  .username,
  .password {
    width: 80%;
    margin-bottom: 35px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    
    letter-spacing: 2px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 24px;
  }
  
  /* Estilo para el botón */
  button {
    margin-top: 0px;
    background-color: #92D1C3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Nomerok', sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color */
    transition: color 0.3s;
  }
  
  button:hover {
    background-color: #FFD5FF;
    color:#111111;
  }

  .error{
    color: #ab2262;
  }