<app-navegador></app-navegador>


<div class="body"> 

<div class="cards">

    <div class="card">
        
        <div class="title">
            <img [src]="seta">
            <h2>¿Quienes?</h2>
        </div>
        <div class="subtitle">
            <h4>Nosotrxs</h4>
        </div>
        <div class="info">
            <p>Aquí toda la info</p>
        </div>
    </div>

    <div class="card">
        <div class="title">
            <img [src]="sword">
            <h2>¿Por que?</h2>
        </div>
        <div class="subtitle">
            <h4>Por que si</h4>
        </div>
        <div class="info">
            <p>Aquí toda la info</p>
        </div>
    </div>

    <div class="card">
        <div class="title">
            <img [src]="potion">
            <h2>¿Para quienes?</h2>
        </div>
        <div class="subtitle">
            <h4>Para vosotrxs</h4>
        </div>
        <div class="info">
            <p>Aquí toda la info</p>
        </div>
    </div>

</div>

</div>